@import url('https://fonts.googleapis.com/css2?family=Itim&family=Niramit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Pridi:wght@200;300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  @media screen and (min-height: 767px) {
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

nav {
  padding: 2rem;
  background-color: rgb(138, 243, 185);
  display: flex;
}

.navbar {
  display: flex;
  list-style: none;
}

.navbar li {
  padding: 0 2rem;
  
}

.navbar li a {
  color: rgb(0, 0, 0);
  font-size: 2rem;
  text-decoration: none;
}

.navbar :hover {
  transition: 0.4s ease;
  font-size: 2.3rem;
  color: white;
}

.content-1 {
  background-color: rgb(241, 240, 240);
  font-family: "Kanit", serif;
  font-weight: 300;
  font-style: normal;
}

.content-con {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
}

.content-info {
  width: 100%;
  padding: 2rem;
}

.content-info h1 {
  font-size: 4rem;
}

.content-info h2  {
  font-size: 3rem;
  line-height: 6rem;
}

.content-info p {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.content-img img {
  width: 100%;
  padding: 2rem;
}

.content-2 {
  background-color: rgb(241, 240, 240);
  font-family: "Kanit", serif;
  font-weight: 300;
  font-style: normal;
}

.content-con1 {
  background-color: rgb(255, 255, 255);
  display: flex;
}

.content-info1 {
  max-width: 100%;
  padding: 1rem 2rem;
}

.content-img1 img {
  padding: 0.5rem;
}

.content-img1 p {
  font-size: 2rem;
  text-align: center;
  padding: 0.5rem;
}

.content-2 h1 {
  font-size: 3rem;
}

.content-info1 p {
  font-size: 1.5rem;
}

.lesson {
  background-color: rgb(241, 240, 240);
  font-family: "Kanit", serif;
  font-weight: 300;
  font-style: normal;
}

.lesson-con {
  background-color: rgb(255, 255, 255);
}

.lesson-info {
  padding: 1.5rem;
}

.lesson-info h1 {
  text-align: center;
  font-size: 3rem;
  padding: 1rem;
}

.lesson-info ul {
  list-style: none;
  text-align: center;
  font-size: 2rem;
}

.lesson-info a {
  text-decoration: none;
  color: green;
}

.lesson-info li :hover {
  font-size: 3rem;
  text-decoration: underline 0.3rem;
  text-decoration-color: rgb(215, 169, 219);
  transition: 0.14s ease;
  text-shadow: 0 4px 7px rgb(82, 80, 80);
}

footer {
  background-color: rgb(209, 204, 204);
  padding: 3rem;
}

.row {
  padding: 1rem;
}

.copyright p {
  font-size: 1.1rem;
  text-align: center;
}
